{% extends 'main.html' %}

{% block content %}
<div>
    <div id="createBoardEndpoint" data-endpoint="{% url 'create-board' %}"></div>
    <div class="container-title-user-dashboard">        
        <span class="span-title-user-dashboard" id="selectedProjectTitle">Example project</span>
    </div>
    <div class="dashboard-container  align-items-start justify-content-start">
               
        <div id="parent-container" class="row align-items-start justify-content-start" >
            <!-- board model, not displayed, using hidden='false' won't make appear, gotta delete the "hidden='false'"  -->            
            {% include 'dashboard/board.html' with boardTitle='random' id='modelBase'  hidden='true' %}             
            
            {% for board in project.boards %}
                {% include 'dashboard/board.html' with boardTitle=board.name id=board.id %}
            {% endfor %}
     
            
            <div class="list-board-plus" onclick="openNewBoarCreation()">
                <div class="d-flex align-items-center justify-content-center">
                    <span>+</span>
                </div>
            </div>

        </div>

        <!-- parent model -->
        <div id="parent-container-model" class="row align-items-start justify-content-start" style="display: none">
            
            <!-- board model -->
            <div class="list-board-container" style="display: none"> 
                <!-- title Model -->
                <div class="title-list-board-container d-flex align-items-center justify-content-center" >
                    <span></span>
                </div>
                
                <div class="list-items-board flex-row align-items-center justify-content-center">
                    
                    <div class="list-items-board-child">
                        <!-- item model (without the d-flex)-->
                        <div class="item-board simple-item  align-items-center" style="display: none; "></div>
                    </div>
                    <!-- plus button for new item -->
                    <div class="item-board text-center plus-item-board" onclick="openNewItemCreation(this)">+</div>
                </div>
            </div>             
            
            <!-- plus button for new board -->
            <div class="list-board-plus" onclick="openNewBoarCreation()">
                <div class="d-flex align-items-center justify-content-center">
                    <span>+</span>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock content %}
