<div class="list-board-container">
    <div class="title-list-board-container d-flex align-items-center justify-content-center">
        <div class="col-sm-2">                    
        </div>
        
        <span class="col-sm-8 d-flex align-items-center justify-content-center">{{boardTitle}}</span>
        
        
            <div class="col-sm-1 dropdown col-sm-2" id="{{id}}" onclick="toggleDropdown(this.id)">
                <button class="btn btn-box  align-items-center" style="color: whitesmoke;">
                    {% include 'icons/config_icon.html' %}
                </button>
                <div class="dropdown-content">
                    <a href="#" onclick="openEditItem(this)">
                        <div class="col-sm-2 d-flex align-items-center item-board-delete-button">
                            {% include 'icons/edit_icon.html' %}
                        </div>
                    </a>
                    <a href="#" onclick="deleteItem(this)">
                        <div class="col-sm-2 d-flex align-items-center item-board-delete-button">
                            {% include 'icons/delete_icon.html' %}
                        </div>
                    </a>
        
                </div>
            </div>

    </div>
    
    <div class="list-items-board flex-row align-items-center justify-content-center">
        <div class="list-items-board-child">
            <!-- simple item of an board -->
            
            {% include 'dashboard/item.html' with id='menu3' text='Crack it, Copy it, Paste it' %}
            
        </div>

        <div class="item-board text-center plus-item-board" onclick="openNewItemCreation(this)">+</div>
    </div>
</div>