{% extends 'main.html' %}

{% block content %}

<div>
    <div class="container-title-user-dashboard" style="border-bottom: none;">
    </div>
    
    <div class="dashboard-container  align-items-start justify-content-start">
       
        <div id="parent-container" class="row align-items-start justify-content-start" >
            
            <!-- board model -->
            {% include 'dashboard/board.html' with boardTitle='random' id='random' hidden='true' %}            

            <!-- board element  -->
            <div class="list-board-container">
                <div class="title-list-board-container d-flex align-items-center justify-content-center">
                    <div class="col-sm-2">
                        
                    </div>
                    <span class="col-sm-8 d-flex align-items-center justify-content-center">To Do</span>
                    <div class="col-sm-1 dropdown col-sm-2" id="dropdown-{{id}}" onclick="toggleDropdown(this.id)">
                        <button class="btn btn-box  align-items-center" style="color: whitesmoke;">
                            {% include 'icons/config_icon.html' %}
                        </button>
                        <div class="dropdown-content">
                            <a href="#" onclick="openEditBoard(this)">
                                <div class="col-sm-2 d-flex align-items-center item-board-delete-button">
                                    {% include 'icons/edit_icon.html' %}
                                </div>
                            </a>
                            <a href="#" onclick="deleteBoard(this)">
                                <div class="col-sm-2 d-flex align-items-center item-board-delete-button">
                                    {% include 'icons/delete_icon.html' %}
                                </div>
                            </a>
                
                        </div>
                    </div>
                </div>
                
                <div class="list-items-board flex-row align-items-center justify-content-center">
                    <div class="list-items-board-child">

                        {% include 'dashboard/item.html' with id='menu1' text='Build' %}
                        
                        {% include 'dashboard/item.html' with id='menu2' text='Burn it, fix it, trash it' %}
                        
                                                                                                                           

                      
                    </div>

                    <div class="item-board text-center plus-item-board" onclick="openNewItemCreation(this)">+</div>
                </div>
            </div>

            <!-- board element, argument with id from db to retrieve data from related board  -->

            {% include 'dashboard/board.html' with boardTitle='Doing' id='bor2' %}


            <!-- board element  -->
            
            {% include 'dashboard/board.html' with boardTitle='Done' id='bor3' %}
        
                      
            
            <div class="list-board-plus" onclick="openNewBoarCreation()">
                <div class="d-flex align-items-center justify-content-center">
                    <span>+</span>
                </div>
            </div>

        </div>

    </div>
   
    
</div>

{% endblock content %}