{% extends 'main.html' %}

{% block content %}

<div>
    <div class="dashboard-container row align-items-start justify-content-start sortable">

        <div class="list-board-container droppable">
            <div class="title-list-board-container d-flex align-items-center justify-content-center">
                <span>To Do</span>
            </div>
            
            <div class="sortable list-items-board flex-row align-items-center justify-content-center ">
                <div class="item-board">#####</div>
                <div class="item-board">+++++</div>
            </div>
        </div>

         <div class="list-board-container droppable">
            <div class="title-list-board-container d-flex align-items-center justify-content-center">
                <span>To A Do</span>
            </div>
            
            <div class="sortable list-items-board flex-row align-items-center justify-content-center ">
                <div class="item-board">$$$$$</div>
                <div class="item-board">&&&&&</div>
            </div>

        </div> 

        <!-- <div class="list-board-container droppable">
            <div class="title-list-board-container d-flex align-items-center justify-content-center">
                <span>AMrioAMrioAMrioAMrioAMrioAMrioAMrioAMrioAMrio</span>
            </div>
            
            <div class="sortable list-items-board flex-row align-items-center justify-content-center">
                <div class="item-board sortable">Cord</div>
                <div class="item-board sortable">OLit AMrioA MrioAMrioAMrioAMrioAMrioAMrioAMrioAMrio</div>
            </div>

        </div>
        
        <div class="list-board-plus">
            <div class=" d-flex align-items-center justify-content-center">
                <span>+</span>
            </div>
        </div>
    

    </div>
</div>-->

{% endblock content %}