<header >        
    <div class="row header align-items-center header-container">
        <div class="col-lg-1  col-md-1   col-sm-1 text-nowrap menu-button-container">
            {% if request.user.is_authenticated %}
            <div class="menu-button d-flex justify-content-center align-items-center" onclick="openNav()">
                
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
            </div>
            {% endif %}
        </div>

        <div class="col-lg-4 offset-lg-1      col-md-6 offset-md-1        col-sm-6 offset-sm-1    text-nowrap title-div">
            <div><h2 class="text-truncate">KanDo - kanban managment</h2></div>
            
        </div>

        {% if not request.user.is_authenticated %}
        
        <div class="col-lg-1 offset-lg-3      col-md-2 offset-md-0        col-sm-2 offset-sm-0 text-nowrap">
            <a href="{% url 'register'%}" style="text-decoration: none;  color: inherit;">
                <div class="d-flex justify-content-center align-items-center header-login-button-container">
                    <div class="text-center"><span>Register</span></div>
                </div>
            </a>            
        </div>

        <div class="col-lg-1 offset-lg-0      col-md-1 offset-md-0       col-sm-2 offset-sm-0 text-nowrap">
            <a  href="{% url 'login'%}" style="text-decoration: none;  color: inherit;">
                <div class="d-flex justify-content-center align-items-center header-login-button-container">
                    <div class="text-center"><span>Login</span></div>
                </div>
            </a>            
        </div>
        {% else %}

        <div class="col-lg-1 offset-lg-3      col-md-2 offset-md-0        col-sm-2 offset-sm-0 text-nowrap">
             
        </div>

        <div class="col-lg-1 offset-lg-0      col-md-1 offset-md-0       col-sm-2 offset-sm-0 text-nowrap">
            <a  href="{% url 'logout'%}" style="text-decoration: none;  color: inherit;">
                <div class="d-flex justify-content-center align-items-center header-login-button-container">
                    <div class="text-center"><span>logout</span></div>
                </div>
            </a>            
        </div>



        {% endif %}
    </div>
</header>