<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" /> -->
    
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>KanDo</title>
    <link rel="stylesheet" href="{% static 'styles/header.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/side-menu.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/register.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/toast.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/dropdown.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <script src="{% static 'js/item.js' %}"></script> 
    <script src="{% static 'js/board.js' %}"></script> 
    <script src="{% static 'js/project.js' %}"></script> 
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
      
      
      var inputModalContent = ""
      var context = "";
      const NONE = 0;
      const BOARD = 1;
      const ITEM = 2;
      const PROJECT = 3;
      const EDIT_ITEM = 4; 
      const EDIT_BOARD = 5; 

      var type = NONE;

      /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
      function openNav() {
        document.getElementById("sidenav").style.width = "250px";
        // document.getElementById("main").style.marginLeft = "250px";
      }
    
      /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
      function closeNav() {
        document.getElementById("sidenav").style.width = "0";
        // document.getElementById("main").style.marginLeft = "0";
      }
    

      /**
       * Opens modal
       * */
      function openModal(){                          
        $('#modal').modal('show');       
      }

      /**
       * Close modal
       * */
      function closeModal(){
        $('#modal').modal('hide');      
      }

      
      /* GENERIC - reseting the modal and saving the new board */
      function saveModalContent(){
        closeModal();
        document.getElementById("exampleModalLabel").textContent=""
        document.getElementById("modalSmallMessage").textContent=""
        inputModalContent = document.getElementById("modalInput").value;
        document.getElementById("modalInput").value="";
        var auth = "{{request.user.is_authenticated}}"      

        switch (type) {
          case BOARD:            
            if(auth === "True"){
              saveNewBoard();
            }else{
              _saveNewBoard();
            }
            break;

          case ITEM:
            if(auth === "True"){
              saveNewItem();
            }else{
              _saveNewItem();
            }
            
            break;

          case PROJECT:
            saveNewProject();
            break;
          
          case EDIT_ITEM:
            saveEditedItem();
            break;

          case EDIT_BOARD:
            saveEditedBoard();
            break;

          default:
            break;
        }

        context = "";
        type = NONE;
      }


      /* Board */
      function openNewBoarCreation(){
        document.getElementById("exampleModalLabel").textContent="Board Name"             
        document.getElementById("modalSmallMessage").textContent="Name the new board"  
        openModal();   
        type = BOARD;     
      }


      /* Board */ 
      function saveNewBoard(){
        const newBoardName = inputModalContent // using the content from the modal
        if(""=== newBoardName){
          alert("Can't be empty");
          return          
        }
        
        /* creating into the database */
        var newBoard = createNewBoard(newBoardName);
        newBoard.then(function(response) { // resolving the promise
                 
          
          /* get container parent */
          const boardParent = document.getElementById("parent-container");

          loadBoardsOnHTML(response.board, boardParent)
          
          fetchProjects().then(resp=>{
            saveProjectsInSession(JSON.stringify(resp.projects))
          })          

        }).catch(function(error) {
          console.log(error);
        });
      }
      
      /* Board */ 
      function _saveNewBoard(){
        const newBoardName = inputModalContent // using the content from the modal
        if(""=== newBoardName){
          alert("Can't be empty");
          return          
        }
        
                 
          
          /* get container parent */
          const boardParent = document.getElementById("parent-container");

          boardParent.getElementsByClassName("list-items-board-child")[0].textContent = ""; // cleaning the items

          /* Clone board element */
          const element = document.getElementsByClassName('list-board-container')[0];
          const boardClone = element.cloneNode(true);

          /* define element title */ 
          boardClone.getElementsByClassName("title-list-board-container")[0].querySelector("span").textContent = newBoardName // the box with title, items and plus button, then setting an specific span inside 
    

          /* define as a sortable */ 
          Sortable.create(boardClone.getElementsByClassName("list-items-board-child")[0], {  // box just with the items
            animation: 150,
            group: 'shared-items',
            ghostClass: 'hidden-placeholder',          
          });


          
          /* generating id for dropdown*/
          boardClone.getElementsByClassName('dropdown')[0].id = 'first'+(Math.random() + 1).toString(36).substring(7)


          boardClone.style.display = 'block';
          boardParent.append(boardClone);
                   
      }

      /* Board */
      function openEditBoard(board){
        document.getElementById("exampleModalLabel").textContent="Edit Board"             
        document.getElementById("modalSmallMessage").textContent="Change the board's name"
        openModal();

        context = board;
        type = EDIT_BOARD;
      }

      /* Board */
      function saveEditedBoard(){
        const editedBoardName = inputModalContent
        if(""=== editedBoardName){
          alert("Can't be empty");
          return          
        }

        context.parentElement.parentElement.parentElement.querySelector("span").textContent = editedBoardName
      }

      /* Board */
      function deleteBoard(board){
        board.parentElement.parentElement.parentElement.parentElement.remove()  
        var idBoard = board.parentElement.parentElement.parentElement.getAttribute("key").replace("board","")      
        deleteBoardRequest(idBoard)    
      }

      /* item */
      function openNewItemCreation(item){
        document.getElementById("exampleModalLabel").textContent="Item Name"             
        document.getElementById("modalSmallMessage").textContent="Name the new Item"
        openModal();
        
        context = item;
        type = ITEM;
      }

      /* item */
      function _saveNewItem(){
          /**
           * Save item with a unauthenticate user
           */        
          const newBoardItemName = inputModalContent // using the content from the modal
          
          if(""=== newBoardItemName){
            alert("Can't be empty");
            return          
          }

          /* get item parent */
          const boardParent = context.parentElement.getElementsByClassName("list-items-board-child")[0]        
          
          /* Clone item element */      
          const element = document.getElementsByClassName('simple-item-box')[0];
          const itemClone = element.cloneNode(true);

          /* define element title */ 
          itemClone.getElementsByClassName('simple-item')[0].textContent = newBoardItemName; 
          itemClone.style.display="flex";
          

          itemClone.getElementsByClassName('dropdown')[0].id = 'drpdwn'+ newBoardItemName.split(' ').join(''); // set a new id for a child, with that the related function can find it
          boardParent.append(itemClone);

        
      }
      
      /* item */
      function saveNewItem(){
        /**
         * Save item with a authenticade user
         */        
        const newBoardItemName = inputModalContent // using the content from the modal
        
        if(""=== newBoardItemName){
          alert("Can't be empty");
          return          
        }

        // getting the board id from html
        var boardId = context.parentElement.parentElement.getElementsByClassName('title-list-board-container')[0].getAttribute("key").replace("board","")

        /* creating into the database */
        var newItem = createNewItem(boardId, newBoardItemName);
        
        newItem.then(function(response) {

          /* get item parent */
          const boardParent = document.querySelector(`[key="board${response.item.board}"]`).parentElement.getElementsByClassName("list-items-board-child")[0]        
          
          /* Clone item element */      
          const element = document.getElementsByClassName('simple-item-box')[0];
          const itemClone = element.cloneNode(true);

          /* define element title */ 
          itemClone.getElementsByClassName('simple-item')[0].textContent = newBoardItemName; 
          itemClone.style.display="flex";
          itemClone.setAttribute("key", response.item.id)

          itemClone.getElementsByClassName('dropdown')[0].id = 'drpdwn'+ newBoardItemName.split(' ').join(''); // set a new id for a child, with that the related function can find it
          boardParent.append(itemClone);

          fetchProjects().then(resp=>{
            saveProjectsInSession(JSON.stringify(resp.projects))
          })   

        }).catch(function(error) {
          console.log(error);
        });

      }


      /* item */
      function deleteItem(element){
        var id = element.parentElement.parentElement.id;
        var item = document.querySelector("#" + id);
        item.parentElement.remove();

        var auth = "{{request.user.is_authenticated}}"
        if(auth === "True"){
          deleteItemRequest(item.parentElement.getAttribute("key"));
        }
        
      }


      /* item */
      function openEditItem(item){
        document.getElementById("exampleModalLabel").textContent="Edit item"             
        document.getElementById("modalSmallMessage").textContent="Change the item's name"
        openModal();

        context = item;
        type = EDIT_ITEM;
      }

      /* item */
      function saveEditedItem(){
        const editedItemName = inputModalContent
        if(""=== editedItemName){
          alert("Can't be empty");
          return          
        }

        context.parentElement.parentElement.parentElement.getElementsByClassName('simple-item')[0].textContent=editedItemName
      }


      /* project */
      function openNewProjectCreation(){
        document.getElementById("exampleModalLabel").textContent="List Name"             
        document.getElementById("modalSmallMessage").textContent="Name the new list"
        openModal();

        type = PROJECT;
      }

      /* project  */
      function saveNewProject(){        
        const newProjectName = inputModalContent // using the content from the modal
        
        if(""=== newProjectName){
          alert("Can't be empty");
          return          
        }

        /* get item parent */
        const projectParent = document.getElementsByClassName("dashboard-container")[0]         

        /* Clone item element */     
        const modelElement = document.getElementById('parent-container-model');
        const elementClone = modelElement.cloneNode(true);


        /* removes old element */
        document.getElementById('parent-container').remove()

        elementClone.style.display = 'flex';
        elementClone.id = 'parent-container'

        const sortContainer = Sortable.create(elementClone, { // defining the boards inside the parent-container (boards list) as soartables
              animation: 150,
              group: 'shared-boards',
              ghostClass: 'hidden-placeholder', 
              filter: ".list-board-plus", // bypass the plus button                                   
        }); 

        /* define element title */ 
        //elementClone.textContent = newProjectName;                
        projectParent.append(elementClone);
        createNewProject(newProjectName);
        // fetchProjects().then(resp=>{
        //     saveProjectsInSession(JSON.stringify(resp.projects))
        // })   
        closeNav();
      }

      
      /* project */
      function deleteProject(element){
        if(!confirm("Delete project? ")){
          return
        }

        var projectId = element.parentElement.getAttribute("key");
        deleteProjectRequest(projectId);
        // fazer algo apos delete
      }

    </script>
    
  </head>

  <body>

    <!-- Side bar menu -->
    
    <div id="sidenav" class="sidenav" >
      {% if request.user.is_authenticated %}
        <a>
          <span style="
        color: grey; 
        font-size: 15pt;
        border-bottom: solid 1px grey;
        margin-top: -15px;
        "
        >User: {{user.name}}</span> 
      </a>
        
      {% endif %}
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

      <div id="createProjectEndpoint" data-endpoint="{% url 'create-project' %}"></div>
      <div id="getProjectsEndpoint" data-endpoint="{% url 'get-projects' %}"></div>

      <div id="userDashboard" data-endpoint="{% url 'user-dashboard' %}"></div>
            


      <div id="csrfToken" data-token="{{csrf_token}}"></div>
      <div id="userId" data-user="{{user.id}}"></div>
        
      <a href="#" onclick="openNewProjectCreation()" style="border-bottom: 1px solid;">Create Project</a>
        <div id="projectsListContainer">
        <!-- <a  href="#">Macaco</a> -->
          {% for project in projects %}
          <div style="display: flex; justify-content: space-between;"  key="{{project.id}}">
            <a  href="#" key="{{project.id}}" onclick="selectProject(this)">{{ project.name }}</a>
            
            <div style="color: white; width: 30px; margin-right: 10px; cursor: pointer;"
            class=" d-flex justify-content-center align-items-center" onclick="deleteProject(this)">
              {% include 'icons/delete_icon.html' %}
            </div>
          </div>
          {% empty %}
              <!-- ------------- test user without project -->
              
          {% endfor %}
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
              <!-- <span aria-hidden="true">&times;</span> -->
            </button>
          </div>
          <div class="modal-body">
            <small id="modalSmallMessage" class="form-text text-muted">Small message</small>
            <input type="text" class="form-control" id="modalInput" placeholder="Ex: Testing" >
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">Close</button>
            <button type="button" class="btn btn-primary" onclick="saveModalContent()">Save changes</button>
          </div>
        </div>
      </div>
    </div>

 


    <div class="container-fluid">
      {% include 'header.html' %}
    

      {% block content %}

      {% endblock %}
      {% include 'toast.html' %}
      
    </div>

  
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    
    <!-- SortableJS for sorting elements as boards and items -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script> 
    
    
    <script src="{% static 'js/dropdown.js' %}"></script> 

    

    <!-- references
    https://github.com/SortableJS/Sortable
    https://sortablejs.github.io/Sortable/ 
    -->


    <script >
    
      //var listBoardContainer = document.getElementsByClassName('dashboard-container');  // getting THE list container
      var listBoardContainer = document.getElementsByClassName('dashboard-container')[0].firstElementChild;  // getting THE list container
      const sortContainer = Sortable.create(listBoardContainer, { 
            animation: 150,
            group: 'shared-boards',
            ghostClass: 'hidden-placeholder',
            filter: ".list-board-plus",                                   
      });
          
      
      // var listItemsBoard = document.getElementsByClassName('list-items-board');    // getting the items list container
      var listItemsBoard = document.getElementsByClassName("list-items-board-child");    // getting the items list container - for plus
      
      // defining all items lodaded as draggable 
      for (let index = 0; index < listItemsBoard.length; index++) {
        Sortable.create(listItemsBoard[index], { 
          animation: 150,
          group: 'shared-items',
          // ghostClass: 'hidden-placeholder',
          filter: ".plus-item-board",
          
        });
        
      }
 
      
    </script>
  </body>
</html>