
{% if messages %}
    <div class="toast-container d-flex flex-column" id="hideMe">
        {% for message in messages %}
            <div id="toast"
                class="
                toast-box 
                animate__animated animate__fadeInLeft
                {{message.tags}}-toast
                "

                >
                <span>{{message}}</span>
            </div>
        {% endfor %}
        
        <script>
            var elements = document.getElementsByClassName('toast-box');
            setTimeout(function(){
                
                for (let index = 0; index < elements.length; index++ ) {
                        elements[index].classList.add("animate__fadeOutLeft");                                       

                }
            }, 5000);
        </script>
    </div>
{% endif %}