/* .dashboard-container{
    
} */

.list-board-container{    
    margin: 15px;
    width: 300px;
    /* height: 75vh; */
    height: auto;
    background-color: skyblue;
    padding: 0;
    border-radius: 5px;
    
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);;
}

.fill-div{
    height: 15px;
}

.title-list-board-container{
    width: inherit;
    height: 35px;
    background-color: yellowgreen;
    border-radius: inherit;
    
    /* cursor: pointer; */
}

.title-list-board-container:hover{
    cursor: grab;
}

.title-list-board-container span{
    font-size: 18pt;
    font-weight: 600;
}



.item-board{
    width: 83%;
    height: 40px;
    border-radius: 4px;
    background-color: rgb(116, 158, 106);
    margin-top: 10px;
}