.dashboard-container{
    width: max-content;
    margin-top: 10px;
    color: wheat;
    padding-left: 30px;
    position: relative;
}   

/* #container-parent{
    background-color: aquamarine;
} */

#parent-container{
    position: relative;
    max-height: 100px;
}


.list-board-container{ 
    margin: 15px;
    width: 300px;
    /* height: 75vh; */
    height: auto;
    min-height: 100px;
    background-color: skyblue;
    padding: 0;
    padding-bottom: 15px;
    border-radius: 5px;    
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);;
    /* overflow: hidden; */
}

.list-items-board{
    min-height: 50px;
   
}

.list-board-plus{
    position: absolute;    
    right: -315px;
    margin: 15px;
    width: 300px;
    min-width: 250px;
    /* height: 75vh; */
    height: auto;
    background-color: yellowgreen;
    padding: 0;
    border-radius: 5px;    
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);;

    font-size: 18pt;
    font-weight: 600;
}

.list-board-plus:hover{
    cursor: pointer;
}


.title-list-board-container{
    width: inherit;
    height: 35px;
    background-color: yellowgreen;
    border-radius: inherit;
    
    /* cursor: pointer; */
}

.title-list-board-container:hover{
    cursor: grab;
}

.title-list-board-container span{
    font-size: 18pt;
    font-weight: 600;
}

.simple-item{
    padding-left: 10px;
}


.item-board{
    width: 280px;
    height: 40px;
    max-height: 40px;
    border-radius: 4px;
    background-color: rgb(116, 158, 106);
    margin-top: 10px;
    margin-left: 10px;
    align-self: center;
    font-size: 15pt;
    /* overflow: hidden; */
    white-space: nowrap;
}


.item-board-delete-button{
    min-width: 30px ;
}

.item-board-delete-button:hover{
    /* background-color: rgb(101, 138, 92); */
    cursor: pointer;
}

.hidden-placeholder{
    visibility: hidden;
}


.plus-item-board{
    height: 35px;
    position: relative;
    bottom: -20;
    font-size: 17pt;
    font-weight: 700;
    cursor: pointer;
    background-color: rgb(58, 80, 53);
}

.container-title-user-dashboard{
    margin-top: 75px;
    border-bottom: 1px solid white;
    padding-left: 100px;
    overflow: hidden;
}

.span-title-user-dashboard{
    color: whitesmoke;
    font-size: 20pt;
}