.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}
.gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

.div-container{
    margin-top: 120px;
   
}

.reg-card{
    width: 90%;
    margin-bottom: 100px;
}

.register-title{
    font-size: 20pt;
}

.login-container-parent{
    border: 1px solid #000000;
    /* box shadow */
    /* box-shadow: 1px 1px 10px 2px #000000; */
}

.login-container{
    background-color:    rgb(70, 82, 71);
    border-radius: 10px;
    color: whitesmoke;
    /* border width with colors and 2px*/

    
}
.login-container input{
    background-color:    rgb(139, 160, 140);
    /* remove border from input */
    border: none;

    

}
.login-container input:focus{
    background-color: rgb(139, 160, 140);
    color: whitesmoke;
}

.footer-text{
    color: whitesmoke;
}